<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>nspawn</vendor>
  <vendor_url>https://github.com/nspawn/nspawn</vendor_url>

  <action id="org.nspawn.inspect">
    <description>Look at the images and machines nspawn manages</description>
    <message>Authentication is required to look at nspawn's images and machines</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>

  <action id="org.nspawn.manage">
    <description>Manage images and machines with nspawn</description>
    <message>Authentication is required to manage nspawn's images and machines</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>
</policyconfig>
